@font-face {
    font-family: 'GothamProRegular';
    src: url('/fonts/GothamProRegular/GothamProRegular.eot');
    src: url('/fonts/GothamProRegular/GothamProRegular.eot') format('embedded-opentype'),
    url('/fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
    url('/fonts/GothamProRegular/GothamProRegular.ttf') format('truetype');
}@font-face {
    font-family: 'GothamProMedium';
    src: url('/fonts/GothamProMedium/GothamProMedium.eot');
    src: url('/fonts/GothamProMedium/GothamProMedium.eot') format('embedded-opentype'),
    url('/fonts/GothamProMedium/GothamProMedium.woff') format('woff'),
    url('/fonts/GothamProMedium/GothamProMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamProBold';
    src: url('/fonts/GothamProBold/GothamProBold.eot');
    src: url('/fonts/GothamProBold/GothamProBold.eot') format('embedded-opentype'),
    url('/fonts/GothamProBold/GothamProBold.woff') format('woff'),
    url('/fonts/GothamProBold/GothamProBold.ttf') format('truetype');
}