.content-inline,
.content-inline div,
.content-inline p,
.content-inline p span,
.content-inline p a {
    text-indent: 15px;
    font-size: 16px !important;
    line-height: 18px !important;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: GothamProRegular;
    color: #4d5152;
    padding: 0 20px 20px 20px;
    text-align: left;
}
.content-inline p a {
    font-family: GothamProMedium;
    text-decoration: underline;
}
.content-inline table {
    margin: 0 auto;
}