html,
body {
    height: 100%;
    width: 100%;
    background: #e5f1f5;
    position: relative;
}
.wrapper {
    min-height: 100%;
    padding-bottom: 1px;
}
.wrapper, .wrapper-footer {
    max-width: 1150px;
    margin: 0 auto;
    background: #fff;
}
.l-center {
    max-width: 1150px;
    zoom: 1;
    *width: 1150px;
    box-sizing: border-box;
}
.error-msg {

    font-size: 14px;
    line-height: 24px;
    color: #e82c25;
}
.support-success {
    margin: 50px auto;
}
.back-to-main {
    display: block;
    text-align: center;
    font-family: GothamProMedium;
    font-size: 14px;
    color: #4d5152;
    text-decoration: underline;
}
.link {
    font-family: GothamProMedium;
    font-size: 16px;
    cursor: pointer;
}
.link__login {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #7b6356;
    min-width: 12%;
    max-width: 136px;
    text-align: center;
    line-height: 32px;font-family: GothamProMedium;
    margin-top: -27px;
    border: 2px solid #9c867a;
}
.link__feedback {
    font-family: GothamProBold;
    color: #4d5152;
    font-size: 14px;
}
.link__header {
    display: block;
}
    .link__header_caption-xs,
    .link__header_caption-m {
        font-family: GothamProMedium;
    }

    .link__header_caption-xs {
        color: #999999;
        font-size: 13px;
    }
    .link__header_caption-m {
        color: #666666;
        line-height: 18px;
    }
    .link__header_caption-l {
        font-family: GothamProBold;
        color: #4d5152;
        font-size: 36px;
        line-height: 36px;
    }
    .link__header_logo {
        width: 96px;
        height: 96px;
        margin: 3px auto;
        background: url('/images/coat_of_arms.gif') center center no-repeat;
    }


.phone-link {
    font-family: GothamProBold;
    color: #4d5152;
    font-size: 14px;
}


.service-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/sprites/services_sprite.png');
    background-repeat: no-repeat;
}
.service-image-1 {
    background-position: -122px -256px;
}
.service-image-2 {
    background-position: -121px -123px;
}
.service-image-3 {
    background-position: -2px -251px;
}


.header {
    padding: 17px 20px;
    background: #c6bab3;
}
.support {
    text-align: right;
}
.support_col-l {
    text-align: left;
    margin-right: 12%;
}
.support_col-r {
    text-align: right;
}
.support-bar,
.support-bar__delimiter,
.support-bar__delimiter-wide {
    display: inline-block;
    vertical-align: middle;
}
.support-bar__delimiter,
.support-bar__delimiter-wide {
    width: 2px;
    height: 17px;
    background: #b9aaa2;
}
.support-bar__delimiter {
    margin: 0 1.9%;
}
.support-bar__delimiter-wide {
    margin: 0 2.9%;
}

.support-bar__caption,
.support-bar__comments {
    font-family: GothamProMedium;
    color: #7b6356;
}
.support-bar__item_email {
    font-family: GothamProBold;
    color: #4d5152;
    font-size: 14px;
}
.support-bar__item_email:hover {
    opacity: 0.8;
}


/** Breadcrumbs **/
.breadcrumbs {
    padding-left: 30px;
    margin: 15px 0;
}
.breadcrumbs-item {
    font-size: 14px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    font-family: GothamProMedium;
}
.breadcrumbs-item__link {
    color: #4e3f37;
    text-decoration: underline;
}
/** Breadcrumbs end **/


/** Paginator **/
.paginator {
    box-sizing: border-box;
    padding: 20px 0 20px 34px;
}
.paginator-news {
    width: 60%;
    padding-left: 8%;
    margin: 0 auto 15px;
}
.paginator__item {
    margin-right: 20px;
    display: inline-block;
}
.paginator__item-link {
    color: #7b6356;
}
/** Paginator end **/


/** Content area **/
.content {
    background: #fff;
    padding: 18px 18px 0 18px;
}
.content_inner {
    padding: 0 18px;
}
.content-head {
    text-align: center;
    background: url('/images/head_bg.png');
    padding: 18px 0 30px;
    margin-bottom: 17px;
}
.content-head__caption {
    font-family: GothamProMedium;
    color: #666666;
    line-height: 18px;
}

.main-nav {
    text-align: center;
}
.main-nav__item {
    display: inline-block;
    width: 145px;
    margin: 0 35px;
    text-align: center;
}
.nav-item {
    display: block;
}
.nav-item__image-wrapper {
    width: 118px;
    height: 118px;
    margin: 20px auto;
    background: #dbecf2;
    border-radius: 50%;
    position: relative;
}
.nav-item__text {
    font-family: GothamProMedium;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #4d5152;
}
.maps {
    position: relative;
    margin-top: 50px;
}
.maps__inner {
    padding: 20px 30px;
    box-sizing: border-box;
    border-top: 4px solid #d7cfca;
    background: #f9f6f4;
    height: 500px;

}
.maps__caption {
    font-family: GothamProBold;
    font-size: 22px;
    color: #4d5152;
}
.map__result-data {
    padding: 15px 30px 30px;
    position: relative;
    min-height: 400px;
}
.map__caption {
    margin-top: 15px;
    font-family: GothamProMedium;
    font-size: 18px;
    color: #4d5152;
    line-height: 30px;
}
.map-list, .map__item-value {
    margin-left: 15px;
}
.map-list {
    width: 60%;
}
.map-list__item {
    margin: 8px 0;
    font-size: 16px;
    line-height: 18px;
}
.map-list__item-name,
.map-list__item-value,
.map__item-value {
    display: inline-block;
    vertical-align: middle;
    font-family: GothamProRegular;
    color: #666666;
}
.map-list__item-value {
    line-height: 18px;
}
.map-list__item-value-site a,
.map-list__item-value-email a {
    font-family: GothamProMedium;
    font-size: 14px;
}
.map-list__item-value-site a {
    color: #4d5152;
    text-decoration: underline;
}
.map-list__item-name {
    width: 20%;
}


.links-list {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    margin-left: 8%;
}
.content-box {
    border-top: 2px solid #d7cfca;
    padding-top: 50px;
    padding-bottom: 18px;
}
.content-box_bottom {
    padding-bottom: 18px;
}
.news {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 0 17px;
}
.news-xl {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.news__caption {
    font-family: GothamProBold;
    font-size: 22px;
    color: #4d5152;
    line-height: 36px;
    padding-left: 34px;
}
.caption-l,
.caption-xl {
    font-family: GothamProBold;
    font-size: 22px;
    color: #4d5152;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 36px;
}
.caption-l {
    margin-top: 20px;
}
.caption-ml {
    font-family: GothamProBold;
    font-size: 18px;
    text-transform: uppercase;
    color: #212222;
    margin-bottom: 40px;
}
.news__link-all {
    display: inline-block;
    font-family: GothamProRegular;
    text-transform: uppercase;
    font-size: 14px;
    color: #a1cedf;
    border: 2px solid #d9ebf2;
    padding: 10px;
    margin-top: 2px;
}
.news-item {
    margin: 12px 0 12px 34px;
    padding-bottom: 15px;
}
.news-list-xl {
    padding-left: 8%;
}
.news-item-xl {
    position: relative;
    text-align: left;
    border-bottom: 1px solid #c5c5c5;
}
.news-item-xl:last-child {
    border-bottom: none;
}
.news-item__date,
.news-item__date-xl {
    font-family: GothamProBold;
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}
.news-item__text {
    display: block;
    font-family: GothamProBold;
    font-size: 16px;
    line-height: 18px;
    color: #4d5152;
}
.news-item__date-xl {
    position: absolute;
    left: -100px;
    top: 0;
}
.news-item__text-xl {
    display: inline-block;
    width: 100%;
    line-height: 22px;
}

.links-list__item,
.links-list__item_orange-border {
    border-bottom: 4px solid #dbecf2;
    padding: 18px 0;
}
.links-list__item_orange-border {
    border-bottom: 4px solid #ffb958;
}
.links-list__item:last-child {
    border-bottom: none;
}
.links-list__item-link,
.links-list__item-link_orange-border {
    color: #4d5152;
    line-height: 17px;
}

.links-list__item-link_orange-border {
    border-bottom: 4px solid #ffb958;
}

/** Content area end **/

/** Footer area **/
.footer {
    border-top: 4px solid #d7cfca;
    padding: 20px 1.5% 36px;
    text-align: center;
}
.footer__min-trud-logo, .footer__info {
    display: inline-block;
    vertical-align: middle;
}
.footer__min-trud-logo {
    width: 13%;
    height: 138px;
    background: url('/images/min_trud_logo.gif') center center no-repeat;
}
.footer__info {
    width: 80%;
}

.copyrights {
    margin-top: 50px;
    text-align: right;
    clear: both;
}
.copyrights__text, .copyrights__logo-adapt {
    display: inline-block;
    vertical-align: top;
}
.copyrights__text {
    font-family: GothamProMedium;
    width: 65%;
    font-size: 11px;
    line-height: 17px;
    color: #7b6356;
    text-align: left;
}
.copyrights__logo-adapt {
    width: 152px;
    height: 54px;

    margin-left: 10.75%;
    background: url('/images/adapt_logo.gif') center center no-repeat;
}
/** Footer area end **/

/** Login **/
.form  {
    margin: 0 auto 50px;
    text-align: center;
}
.form-login {
    width: 50%;
    border: 1px solid rgba(185, 170, 162, 0.4);
    margin-top: 10px;
    padding: 10px 20px 35px;
    border-radius: 1%;
}
.form-support {
    width: 65%;
}
.form-group {
    text-align: center;
    margin: 15px 0;
    padding-right: 70px;
    clear: both;
    zoom:1;
}
.form-group:before,
.form-group:after {
    content:"";
    display:table;
    clear: both;
}
.form-group__label,
.form-group__field {
    display: inline-block;
    vertical-align: middle;
}
.form-group__label {
    width: 35%;
    line-height: 34px;
    font-family: GothamProMedium;
    float: left;
}
.form-group__label-m {
    line-height: 20px;
}
.form-group__field {
    float: right;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(231, 242, 249, 0.3);
    height: 20px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group__field-l {
    width: 55%;
}
.form-group__field-xl,
.form-group__field-area,
.form-group__field-area_m {
    width: 60%;
}
.form-group__field-area_m {
    resize: none;
    width: 55%;
    min-height: 180px;
}
.form-group__field-area {
    resize: none;
    min-height: 240px;
}
.form-group-submit {
}
.form-group-submit__button {
    display: block;
    width: 55%;
    margin-left: 40%;
    box-sizing: content-box;
    height: 20px;
    border: 2px solid #9c867a;
    text-transform: uppercase;
    font-family: GothamProMedium;
    font-size: 14px;
    color: #7b6356;
    background: rgba(231, 242, 249, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
}
.form-group-submit__button-l,
.form-group-submit__button-xl {
    width: 60%;
    margin-left: 36%;
}
.form-group-submit__button-l {
    width: 40%;
    margin: 40px auto 0;
}
.form-group-links {
    margin: 60px auto 0;
    width: 50%;
}
.form-group-links__item {
    display: block;
    font-family: GothamProMedium;
    font-size: 16px;
    margin: 8px 0;
    color: #4d5152;
}
.form-group-links__item-mt {
    margin-top: 55px;
}
/** Login end **/

/** Classifiers **/
.classifiers-list {
    margin-bottom: 50px;
    padding: 0 30px;
}
.classifiers-list__item {
    margin: 15px 0;
}
.classifiers-list__link {
    font-family: GothamProMedium;
    font-size: 16px;
    color: #4d5152;
    text-decoration: underline;
}
.docs-wrapper {
    padding: 0 38px 37px;
}
.docs-table {
    width: 100%;
    margin-top: 24px;
}
.docs-table__tr {
    border-bottom: 1px solid #c6c6c6;
}
.docs-table__tr-td {
    width: 5.8%;
    padding: 10px;
    line-height: 20px;
    font-family: GothamProRegular;
    color: #120f0f;
    font-size: 14px;
    vertical-align: top;
}
.docs-table__thead-tr {
    border-bottom: 3px solid #c9e3ec;
    height: 27px;
}
.docs-table__tr-td_caption {
    font-family: GothamProMedium;
    background: #E5F1F5;
    text-transform: uppercase;
}
.docs-table__thead-tr-td,
.docs-table__thead-tr-td_long {
    font-family: GothamProMedium;
    font-size: 12px;
    color: #6e8f9c;
}
.docs-table__thead-tr-td_long {
    width: 60% !important;
}
.docs-table__thead-tr-td:nth-child(2n) {
    width: 17%;
}
.docs-table__thead-tr-td:nth-child(3n) {
    width: 33%;
}
.docs-table__thead-tr-td:nth-child(4n) {
    width: 18%;
}
.docs-table__thead-tr-td:nth-child(5n) {
    width: 13%;
}
.docs-table__thead-tr-td:nth-child(6n) {
    width: 13.1%;
}
/** Classifiers end **/

/** LK **/
.nav-private {
    height: 54px;
    padding: 0 20px 0 22px;
    background: #c8e2ec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e2ec), color-stop(50%,#b5d8e5), color-stop(100%,#a4d0e0));
    background: -webkit-linear-gradient(top, #c8e2ec 0%,#b5d8e5 50%,#a4d0e0 100%);
    background: -webkit-linear-gradient(top, #c8e2ec 0%, #b5d8e5 50%, #a4d0e0 100%);
    background: linear-gradient(to bottom, #c8e2ec 0%,#b5d8e5 50%,#a4d0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e2ec', endColorstr='#a4d0e0',GradientType=0 );

    clear: both;
    zoom:1;
}
.nav-private:before,
.nav-private:after {
    content:"";
    display:table;
    clear: both;
}
.nav-private__caption, .nav-private__controls {
    line-height: 52px;
    font-family: GothamProMedium;
}
.nav-private__caption {
    float: left;
    text-transform: uppercase;
    color: #6e8f9c;
}
.nav-private__controls {
    float: right;
    font-size: 14px;
    color: #4e6a75;
}
.nav-control__user, .nav-control__exit {
    display: inline-block;
    vertical-align: middle;
}
.nav-control__link {
    font-size: 14px;
    color: #4e6a75;
}
.nav-control__exit {
    margin-left: 14px;
}
.nav-control__link-exit {
    color: #4e6a75;
    border-bottom: 2px dotted #4e6a75;
    margin-left: 10px;
}
.nav-icon__user, .nav-icon__warning {
    display: inline-block;
    vertical-align: middle;
}
.nav-icon__user {
    margin-bottom: 3px;
    background: url('/images/icon_user.png') center center no-repeat;
    width: 20px;
    height: 20px;
}
.nav-icon__warning {
    background: url('/images/icon_warning.png') center center no-repeat;
    width: 30px;
    height: 30px;
}
.body-private {
    border: 14px solid #a4d0e0;
    border-top: none;
    margin-bottom: 18px;
}

.personal-nav {
    text-align: left;
    margin-bottom: 36px;
}
.personal-nav__item {
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid #f1f1f1;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fdfdfd), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #ffffff 0%,#fdfdfd 50%,#f1f1f1 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fdfdfd 50%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fdfdfd 50%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    margin-right: -5px;
}
.personal-nav__item-current {
    background: #fff;
}
.personal-nav__item-1 {
    background: url('/images/sprites/personal-nav-sprite.png') -1px -100px no-repeat;
}
.personal-nav__item-2 {
    background: url('/images/sprites/personal-nav-sprite.png') -95px -100px no-repeat
}
.personal-nav__item-3 {
    background: url('/images/sprites/personal-nav-sprite.png') -198px -100px no-repeat
}
.personal-nav__link {
    display: block;
    padding: 24px 60px;
}
.nav-image__wrapper {
    width: 95px;
    height: 95px;
    background: #dbecf2;
    border-radius: 50%;
    position: relative;
}
.nav-image__wrapper_image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}
.count-sticker {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    background: #4d5152;
    font-family: GothamProMedium;
    font-size: 18px;
    color: #f28c13;
}
.personal-content__inner {
    padding: 0 38px 37px;
}
.warning-blocks__item {
    font-family: GothamProMedium;
    margin: 17px 0;
    background: #f3e9da;
    padding: 20px;
    color: #b76401;
    font-size: 14px;
    line-height: 16px;
}
.personal-request__withdraw, .personal-request__sign {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 25px;
    font-family: GothamProMedium;
    font-size: 14px;
    color: #120f0f;
}
.personal-request__withdraw {
    background: #ddedf3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddedf3), color-stop(50%,#d7eaf1), color-stop(100%,#acd4e3));
    background: -webkit-linear-gradient(top, #ddedf3 0%,#d7eaf1 50%,#acd4e3 100%);
    background: -webkit-linear-gradient(top, #ddedf3 0%, #d7eaf1 50%, #acd4e3 100%);
    background: linear-gradient(to bottom, #ddedf3 0%,#d7eaf1 50%,#acd4e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddedf3', endColorstr='#acd4e3',GradientType=0 );
}
.personal-request__sign {
    background: #ebb362;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebb362), color-stop(50%,#ef9f3b), color-stop(100%,#f28d16));
    background: -webkit-linear-gradient(top, #ebb362 0%,#ef9f3b 50%,#f28d16 100%);
    background: -webkit-linear-gradient(top, #ebb362 0%, #ef9f3b 50%, #f28d16 100%);
    background: linear-gradient(to bottom, #ebb362 0%,#ef9f3b 50%,#f28d16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb362', endColorstr='#f28d16',GradientType=0 );
}
/** LK end **/

/** About **/
.content-about {
    margin-bottom: 20px;
}
.content-about__p {
    font-family: GothamProMedium;
    margin: 10px 0;
    text-indent: 15px;
    font-size: 16px;
    line-height: 19px;
}
.content-about__links {
    padding-left: 30px;
    font-family: GothamProMedium;
}
.content-about__links-item {
    list-style-type: square;
    margin: 10px 0;
    line-height: 18px;
    font-size: 14px;
}
/** About end **/

.content__p {
    font-family: GothamProRegular;
    margin: 10px 0;
    text-indent: 15px;
    font-size: 16px;
    line-height: 19px;
}
.content__p_bold {
    text-decoration: underline;
    font-family: GothamProMedium;
}
.content__p_bold-block {
    text-decoration: underline;
    font-family: GothamProMedium;
    display: block;
    margin-bottom: 7px;
}


.modal-l {
    width: 80%;
    max-width: 900px;
}
.close-button_right {
    right: 0;
    left: auto;
}

.services {
    text-align: center;
    margin-bottom: 35px;
}
.services__item {
    display: inline-block;
    width: 20%;
    margin: 0 2.1%;
    vertical-align: top;
}
.service-item__image-wrapper {
    width: 118px;
    height: 118px;
    margin: 20px auto;
    background: #dbecf2;
    border-radius: 50%;
    position: relative;
}
.service-item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/images/sprites/services_sprite.png') center center no-repeat;
}
.service-item__image-1 {
    background-position: -1px -7px;
}
.service-item__image-2 {
    background-position: -122px 0;
}
.service-item__image-3 {
    background-position: -243px 0;
}
.service-item__image-4 {
    background-position: -361px 2px;
}
.service-item__image-5 {
    background-position: -2px -119px;
}
.service-item__image-6 {
    background-position: -121px -123px;
}
.service-item__image-7 {
    background-position: -238px -118px;
}
.service-item__image-8 {
    background-position: -361px -116px;
}
.service-item__image-9 {
    background-position: -477px -3px;
}
.service-item__image-10 {
    background-position: -481px -125px;
}
.service-item__image-11 {
    background-position: -603px -4px;
}
.service-item__image-12 {
    background-position: -601px -125px;
}
.service-item__image-13 {
    background-position: -724px -3px;
}
.service-item__image-14 {
    background-position: -721px -121px;
}
.service-item__image-15 {
    background-position: -836px 2px;
}
.service-item__image-16 {
    background-position: -960px 0px;
}
.service-item__image-17 {
    background-position: -959px -122px;
}
.service-item__image-18 {
    background-position: -1076px -3px;
}
.service-item__image-19 {
    background-position: -1076px -3px;
}
.service-item__image-20 {
    background-position: -838px -121px;
}
.service-item__image-21 {
    background-position: -1076px -122px;
}
.service-item__image-22 {
    background-position: -1207px -3px;
}
.service-item__image-23 {
    background-position: -1205px -126px;
}
.service-item__image-24 {
    background-position: -1321px 0px;
}
.service-item__image-25 {
    background-position: -1321px -121px;
}
.service-item__image-25 {
    background-position: -1444px 0px;
}
.service-item__link {
    font-family: GothamProMedium;
    text-transform: uppercase;
    color: #4d5152;
    line-height: 20px;
}
.breadcrumbs-services  {
    margin-bottom: 15px;
}
.breadcrumbs-services__item,
.breadcrumbs-services__item-delimiter {
    display: inline-block;
    vertical-align: middle;
}
.breadcrumbs-services__item-link,
.breadcrumbs-services__item-link-current {
    font-family: GothamProBold;
    font-size: 18px;
    color: #4d5152;
    cursor: pointer;
}
.breadcrumbs-services__item-link {
    color: #82b1c4;
    border-bottom: 2px dotted #82b1c4;
}
.breadcrumbs-services__item-delimiter {
    color: #d7cfca;
    width: 28px;
    text-align: center;
}