{% extends 'layouts/default.tpl' %}
{% block content %}
    <div class="content l-center">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-item__link" href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item">&#8594;</li>
            <li class="breadcrumbs-item breadcrumbs-item_current">Задачи и функции АИК</li>
        </ul>

        <div class="caption-xl">Задачи и функции АИК</div>
        <div class="content content-box_bottom l-center">
            <p class="content-about__p">Автоматизированный Информационный Комплекс «Миграционные квоты» (далее АИК «Миграционные квоты) предназначен для автоматизации деятельности федеральных органов исполнительной власти и уполномоченных органов исполнительной власти субъектов Российской Федерации по определению потребности в привлечении иностранных работников и подготовки предложений по квотированию в профессионально-квалификационном разрезе.</p>
            <p class="content-about__p">АИК «Миграционные квоты» обеспечивает формирование, сбор, хранение и обработку документированной информации, характеризующей потребность в привлечении иностранных работников и предложения по квотированию в профессионально-квалификационном разрезе как на уровне субъекта Российской Федерации, так и на федеральном уровнях.</p>

            <p class="content-about__p">АИК «Миграционные квоты» обеспечивает автоматизацию процесса перехода к квотированию привлечения иностранной рабочей силы в профессионально-квалификационном разрезе и позволяет осуществлять оперативный контроль за мероприятиями по формированию потребности в иностранной рабочей силе в субъектах Российской Федерации, обеспечивает единство предоставляемых сведений в Министерство здравоохранения и социального развития Российской Федерации.</p>
            <p class="content-about__p">Объектами автоматизации являются:
                <ul class="content-about__links">
                    <li class="content-about__links-item">деятельность по определению потребности в привлечении иностранных работников и подготовки предложений по квотированию в профессионально-квалификационном разрезе;</li>
                    <li class="content-about__links-item">деятельность по сбору, анализу и консолидации отчетных документов (государственных и ведомственных отчетных форм);</li>
                    <li class="content-about__links-item">деятельность по поддержке принятия управленческих решений;</li>
                    <li class="content-about__links-item">деятельность по администрированию следующих внутренних процессов:
                        <ul class="content-about__links">
                            <li class="content-about__links-item">исполнения работ;</li>
                            <li class="content-about__links-item">распределения ресурсов;</li>
                            <li class="content-about__links-item">принятия, согласования и исполнения решений руководства Министерства здравоохранения и социального развития Российской Федерации.</li>
                        </ul>
                    </li>
                </ul>
            </p>

            <p class="content-about__p">Пользователями комплекса являются ответственные лица и служащие уполномоченных органов исполнительной власти субъектов Российской Федерации и Министерства здравоохранения и социального развития Российской Федерации.</p>
        </div>
    </div>
{% endblock %}