{% extends 'layouts/default.tpl' %}
{% block content %}
    <div class="content l-center">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-item__link" href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item">&#8594;</li>
            <li class="breadcrumbs-item breadcrumbs-item_current">Миграционное законодательство</li>
        </ul>

        <div class="caption-xl">Миграционное законодательство</div>
        <div class="content content-box_bottom l-center">
            <p class="content__p">
                <b class="content__p_bold">Приказ Минтруда России от 23.01.2014 N 27н</b>
                "Об утверждении Правил определения органами государственной власти субъекта Российской Федерации потребности в привлечении иностранных работников" (Зарегистрировано в Минюсте России 07.03.2014 N 31536)
            </p>
            <p class="content__p">
                <b class="content__p_bold">Приказ Минтруда России от 23.01.2014 N 28н</b>
                "О Межведомственной комиссии по определению потребности в привлечении в Российскую Федерацию иностранных работников, в том числе по приоритетным профессионально-квалификационным группам, утверждению квоты на выдачу иностранным гражданам приглашений на въезд в Российскую Федерацию в целях осуществления трудовой деятельности, а также квоты на выдачу иностранным гражданам разрешений на работу" (вместе с "Положением о Межведомственной комиссии по определению потребности в привлечении в Российскую Федерацию иностранных работников, в том числе по приоритетным профессионально-квалификационным группам, утверждению квоты на выдачу иностранным гражданам приглашений на въезд в Российскую Федерацию в целях осуществления трудовой деятельности, а также квоты на выдачу иностранным гражданам разрешений на работу") (Зарегистрировано в Минюсте России 07.03.2014 N 31537)
            </p>
            <p class="content__p">
                <b class="content__p_bold">Приказ Минтруда России от 23.01.2014 N 30н</b> "О порядке рассмотрения предложений исполнительных органов государственной власти субъектов Российской Федерации о потребности в привлечении иностранных работников, критериях принятия решения Межведомственной комиссией по определению потребности в привлечении в Российскую Федерацию иностранных работников, в том числе по приоритетным профессионально-квалификационным группам, утверждению квоты на выдачу иностранным гражданам приглашений на въезд в Российскую Федерацию в целях осуществления трудовой деятельности, а также квоты на выдачу иностранным гражданам разрешений на работу" (Зарегистрировано в Минюсте России 07.03.2014 N 31538)
            </p>
            <p class="content__p">
                <b class="content__p_bold">Федеральный закон от 25.07.2002 N 115-ФЗ (ред. от 20.04.2014)</b> "О правовом положении иностранных граждан в Российской Федерации"
            </p>
            <p class="content__p">
                <b class="content__p_bold">Постановление Правительства РФ от 24.03.2003 N 167 (ред. от 23.01.2007)</b> "О порядке представления гарантий материального, медицинского и жилищного обеспечения иностранных граждан и лиц без гражданства на период их пребывания в Российской Федерации"
            </p>
            <p class="content__p">
                <b class="content__p_bold">Приказ Минтруда России от 20.12.2013 N 768н</b> "Об утверждении перечня профессий (специальностей, должностей) иностранных граждан - квалифицированных специалистов, трудоустраивающихся по имеющейся у них профессии (специальности), на которых квоты на осуществление иностранными гражданами трудовой деятельности в Российской Федерации не распространяются" (Зарегистрировано в Минюсте России 27.01.2014 N 31110)
            </p>
            <p class="content__p">
                <b class="content__p_bold">Постановление Правительства РФ от 12.09.2013 N 800</b> (ред. от 28.03.2014) "Об утверждении Правил подготовки предложений по определению потребности в привлечении иностранных работников, утверждению квоты на выдачу иностранным гражданам приглашений на въезд в Российскую Федерацию в целях осуществления трудовой деятельности, а также квоты на выдачу иностранным гражданам разрешений на работу"
            </p>
        </div>
    </div>
{% endblock %}