{% extends 'layouts/default.tpl' %}
{% block content %}
    <div class="content l-center">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-item__link" href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item">&#8594;</li>
            <li class="breadcrumbs-item breadcrumbs-item_current">Иструкции по работе с АИК</li>
        </ul>

        <div class="caption-xl">Инструкции по работе с АИК &laquo;Миграционные квоты&raquo;</div>
        <div class="content l-center content-box_bottom">
            <p class="content__p">
                <b class="content__p_bold-block">Для работодателей</b>
                Для начала работы с системой необходимо зарегистрироваться. Для этого пройдите по ссылке Зарегeстрироваться в левом меню. Если вы уже прошли регистрацию, введите логин и пароль, выданной вам системой, в соответствующих полях ввода и нажмите Войти. (см. инструкцию)</p>

            <p class="content__p">
                <b class="content__p_bold-block">Для уполномоченных огранов</b>
                Для начала работы с системой необходимо зарегистрироваться. Для этого обратитесь в центр администрирования АИК "Миграционные квоты". Если вы уже прошли регистрацию, пройдите по ссылке "Вход для уполномоченных огранов" и введите указанное вами имя пользователя и пароль, выданный вам при регистрации.</p>

            <p class="content__p">
                <b class="content__p_bold-block">Для пользователей Министерства</b>
                Для начала работы с системой необходимо зарегистрироваться. Для этого обратитесь в центр администрирования АИК "Миграционные квоты". Если вы уже прошли регистрацию, пройдите по ссылке "Вход для Министерства" и введите указанное вами имя пользователя и пароль, выданный вам при регистрации.</p>
        </div>
    </div>
{% endblock %}